@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: #181C2A;
    border-radius: 999px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 6px solid #252D4A;
}

@keyframes skeletonAnimation {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

.skeleton-item{
    animation: skeletonAnimation 1600ms ease-in-out infinite;
    background-image: linear-gradient(90deg, #252d4a21, #181C2A, #252d4a21);
    background-size: 200px 100%;
    background-repeat: no-repeat;
    width: 100%;
}

.skeleton-item.ms1400{
    animation: skeletonAnimation 1400ms ease-in-out infinite;
}

.skeleton-item.ms2000{
    animation: skeletonAnimation 2000ms ease-in-out infinite;
}