@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: #181C2A;
    border-radius: 999px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 6px solid #252D4A;
}

@keyframes skeletonAnimation {
    0% {
        background-position: -468px 0;
    }
     100% {
        background-position: 468px 0;
    }
}

.skeleton-item{
    animation: 4s skeletonAnimation infinite ease-out;

    background: #252D4A;
    background: linear-gradient(to right, #2b3455 8%, #1a1f33 18%, #2b3455 33%);
    background-size: 800px 100px;

    border-radius: 8px;
    height: 20px;
}